{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <h1>Play with sequencies</h1>
        <br>
        <h4>Sample code : </h4>
        <br>
        {{ code | raw }}
        <br>
        <h4>Result :</h4>
        <div class="row">
            <div class="col-md-10">
                <p>DNA Complement :</p>
                {{ dump(complement) }}</div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <p>Returns the expansion of a nucleic acid sequence ("GATTAGSW")</p>
                {{ dump(expandNa) }}</div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <p>Shows halfstring for pattern "GATTAG"</p>
                {{ dump(halfStr) }}</div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <p>Computes the molecular weight of a particular sequence.</p>
                {{ dump(molWt) }}</div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <p>Creates a new sequence object with a sequence that is a substring of another</p>
                {{ dump(coupe) }}</div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <p>Array where each key is a substring matching a given pattern ("TTT")</p>
                {{ dump(patpos) }}</div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <p>Similar to patPos() except that this allows for overlapping patterns. ("TTT")</p>
                {{ dump(patposo) }}</div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <p>Returns the frequency of a given symbol in the sequence property string ("A")</p>
                {{ dump(symfreq) }}</div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <p>Returns the 3rd codon in a sequence, with numbering starting at 0</p>
                {{ dump(codon) }}</div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <p>Translates a particular DNA sequence into its protein product sequence</p>
                {{ dump(translate) }}</div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <p>Translates an amino acid sequence ("GAVLIFYWKRH") into its equivalent "charge sequence"</p>
                {{ dump(charge) }}</div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <p>Returns a string of symbols from an 8-letter alphabet: A, L, M, R, C, H, I, S</p>
                {{ dump(chemicalGroup) }}</div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <p>Returns a two-dimensional array containing palindromic substrings found in a sequence</p>
                {{ dump(testPalindrome1) }}</div>
        </div>
    </div>
{% endblock %}